streamlit>=1.37.0
folium
pandas
requests>=2.32.4
streamlit-folium
plotly
shapely
numpy>=1.22.2
validators>=0.21.0
tornado>=6.4.1
urllib3>=2.5.0
zipp>=3.19.1
protobuf>=5.29.6
pyarrow>=14.0.1
pillow>=10.3.0