streamlit==1.55.0
folium
pandas
requests==2.32.5
streamlit-folium==0.26.2
plotly
shapely
numpy==2.4.2
validators==0.35.0
tornado==6.5.4
urllib3==2.6.3
zipp==3.23.0
protobuf==6.33.5
pyarrow==23.0.1
pillow==12.1.1